<?xml version="1.0" encoding="UTF-8"?>
<plugin
  xmlns="http://apache.org/cordova/ns/plugins/1.0" id="io.guzz.cordova.cordova-plugin-xcodeconfigguzz" version="1.0.0">
  <name>Guzz Xcode project configuration</name>
  <description>Sets parameters in the Xcode project</description>
  <license>MIT</license>
  <keywords>guzz,xcode</keywords>
  <platform name="ios">
    <hook type="after_prepare" src="scripts/xcode-config-guzz.js"/>
  </platform>
</plugin>
